@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Intranet</h2>
        <p>
            Access the Universities Intranet through here.
        </p>
        <p><a class="btn btn-default" href="https://myuni.swan.ac.uk/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other uni stuff</h2>
        <p>Stuff that you'll never even click on in the 3+ years that you are here</p>
        <p><a class="btn btn-default" href="https://myuni.swan.ac.uk/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More uni stuff</h2>
        <p>Stuff that you didn't even know was here..</p>
        <p><a class="btn btn-default" href="https://myuni.swan.ac.uk/">Learn more &raquo;</a></p>
    </div>
</div>

<div class="media">
    <h1>Looking for myuni?</h1>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Take me there! &raquo;</a></p>
</div>